<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Section Pages</title>
    <link rel="stylesheet" href="style3.css">
    <style>
        .content {
            display: none;
        }
        .active {
            display: block;
        }
    </style>
</head>
<body>
    <h1>Welcome to page 3</h1>
    <nav>
        <ul>
    <div id="page1" class="content">
        <h2>Page 1</h2>
    </div>
   
</body>
</html>